{%extends "adminLayout.html"%}

{% block title %}Company Details{% endblock %}

{% block head %}
{{super()}}
<link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css' rel='stylesheet'
	type='text/css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
<div class="d-flex flex-row justify-content-center align-items-center ">
	<div class="col-8">
		<a class="bi bi-chevron-left" style="font-size: 30px; position: absolute; text-decoration: none; color:black"
			href="javascript:history.back()"></a>
		<div class="fs-2 fw-bold text-center mb-2">Company Details</div>
		<form class="row g-3" action="/admin/compdetails/{{comp[0][0]}}" method="POST" enctype="multipart/form-data">
			<div class="col-6">
				<label for="inputName" class="form-label">Company Name</label>
				<input type="text" class="form-control border-3" id="inputName" value="{{comp[0][1]}}" disabled>
			</div>
			<div class="col-6">
				<label for="inputEmail" class="form-label">Company Email</label>
				<input type="text" class="form-control border-3" id="inputEmail" value="{{comp[0][2]}}" disabled>
			</div>
			<div class="col-12">
				<label for="inputPhoneNumber" class="form-label">Phone Number</label>
				<input type="text" class="form-control border-3" id="inputPhoneNumber" value="{{comp[0][4]}}" disabled>
			</div>
			<div class="col-12">
				<label for="inputAddress" class="form-label">Address</label>
				<textarea class="form-control border-3" id="inputAddress" rows="3" disabled>{{comp[0][5]}}</textarea>
			</div>
			<div class="col-12">
				<label for="inputCity" class="form-label">Company Website URL</label>
				<input type="text" class="form-control border-3" id="inputCity" value="{{comp[0][6]}}" disabled>
			</div>
			<div class="col-12">
				<label for="inputCity" class="form-label">Company Social Media URL</label>
				<input type="text" class="form-control border-3" id="inputCity" value="{{comp[0][7]}}" disabled>
			</div>
			<div class="col-6 mb-3">
				<label for="inputLogo" class="form-label">Company Logo</label>
				<label class="fw-bold">
					<a href="/previewImg/{{ file[1] }}" target="_blank" class="fw-normal">{{file[1]}}</a></label>
			</div>
			<div class="col-6 mb-3">
				<label for="inputLicense" class="form-label">Company Business License</label>
				<label class="fw-bold">
					<a href="/previewImg/{{ file[0] }}" target="_blank" class="fw-normal">{{file[0]}}</a></label>

			</div>
			<div class="col-12 d-flex flex-row justify-content-end">
				{% if comp[0][8] == "Pending"%}
				<button name="reject" value="reject" type="submit" class="btn btn-secondary px-3">Reject</button>
				<button name="approve" value="approve" type="submit" class="btn btn-primary"
					style="margin-left: 10px;">Approve</button>
				{% elif comp[0][8] == "Deactivate"%}
				<button name="activate" value="activate" type="submit" class="btn btn-primary">Activate</button>
				{% else %}
				<button name="deactivate" value="deactivate" type="submit" class="btn btn-primary">Deactivate</button>
				{% endif %}
			</div>
		</form>
	</div>

</div>
<div class="col-12 d-flex flex-row justify-content-end">
	<button type="submit" class="btn btn-secondary">Reject</button>
	<button type="submit" class="btn btn-primary">Approve</button>
</div>
</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
	crossorigin="anonymous"></script>
{%endblock%}