<!DOCTYPE html>
<html>
  <head>
    <title>FOCS Industrial Training Programme</title>
    <link rel="stylesheet" href="../static/steller.css" />
  </head>

  <body>
    <!-- Page navigation -->
    <nav
      class="navbar navbar-expand-sm navbar-dark bg-dark rounded shadow mb-3"
    >
      <div class="container">
        <a class="navbar-brand" href="#">FOCS</a>
        <button
          class="navbar-toggler ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#service">Comittee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team">Uni Supervisor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team">Student</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End of page navibation -->
    <center>
      <!-- About section -->
      <section id="about" class="section mt-3">
        <div class="container mt-5 bg-light">
          <div class="row text-center text-md-left">
            <div class="col-md-3">
              <img
                src="../media/TARlogo.png"
                alt=""
                class="img-thumbnail mb-4"
              />
            </div>
            <div class="pl-md-4 col-md-9">
              <h6 class="title">FOCS Industrial Training Programme</h6>
              <p class="subtitle">
                BAIT305C/AMIT3205/BMMC3205 Industrial Training Programme
              </p>
              <p>
                Industrial Training is a compulsory programme that open doors
                for internship essentials. The programme focuses on student
                internship attachment, as evidence of work capabilities such as
                expanding professional network, social values, work quality and
                ethics.
              </p>
            </div>
          </div>
        </div>
      </section>
      <div>
        <p>
          This website is mainly for students from Faculty of Computing and
          Information Technology (FOCS) to submit their ITP related documents.
        </p>
      </div>
    </center>
    <footer class="page-footer">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <p>
              &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              - TARUMT FOCS ITP
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
