{%extends "generalLayout.html"%}

{% block title %}Internship Offers{% endblock %}

{% block content %}
<div class="d-flex flex-row justify-content-center align-items-center mt-5">
    <div class="col-5 text-center">
        <div class="fs-2 fw-bold text-center mb-2">Offer Details</div>
        <div class="row">
            {% for offer in offers %}
            <div class="col-sm-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        {{offer['compName']}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Position: {{offer['position']}}</h5>
                        <h5 class="card-title">Allowance: RM{{offer['allowance']}}</h5>
                        <h5 class="card-title">Duration: {{offer['duration']}} months</h5>
                        <h5 class="card-title">Prerequisite: {{offer['prerequisite']}}</h5>
                        <h5 class="card-title">Language: {{offer['language']}}</h5>
                        <h5 class="card-title">Location: {{offer['location']}}</h5>
                        <h5 class="card-title">Date Posted: {{offer['datePosted']}}</h5>
                        <h5 class="card-title">Offer Status: {{offer['offerStatus']}}</h5>
                        <a href="#" class="btn btn-primary">View Offer</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}