{%extends "generalLayout.html"%}

{% block title %}Internship Offers{% endblock %}

{% block content %}
<div class="d-flex flex-row justify-content-center align-items-center mt-5">
    <div class="col-8 text-center">
        <div class="fs-2 fw-bold text-center mb-2">Offer Details</div>
        <form class="row g-3 align-items-center" action="/student/offerDetails" method="GET"
            enctype="multipart/form-data">
                <div class="card text-center" style="width:80%">
                    <div class="card-header">
                        {{offerdetails['compName']}}
                    </div>
                    <img src="/previewImg/{{contents[0]}}" class="card-img-top" alt="{{contents}}">
                    <div class="card-body">
                        <h5 class="card-title">Position: {{offerdetails['position']}}</h5>
                        <p class="card-text">Allowance: RM{{offerdetails['allowance']}}</p>
                        <p class="card-text">Duration: {{offerdetails['duration']}} months</p>
                        <p class="card-text">Prerequisite: {{offerdetails['prerequisite']}}</p>
                        <p class="card-text">Language: {{offerdetails['language']}}</p>
                        <p class="card-text">Location: {{offerdetails['location']}}</p>
                        <p class="card-text">Date Posted: {{offerdetails['datePosted']}}</p>
                        <p class="card-text">Offer Status: {{offerdetails['offerStatus']}}</p>
                        <button type="Submit" class="btn btn-primary" name="selectedComp"
                            value="{{offerdetails['compID']}}">View
                            Offer</button>
                    </div>
                </div>
        </form>
    </div>
</div>
{%endblock%}