{%extends "generalLayout.html"%}

{% block title %}Portfolio{% endblock %}

{% block content %}
<div class="d-flex flex-row justify-content-center align-items-center mt-5">
    <div class="col-8">
        <div class="fs-2 fw-bold text-center mb-2">Portfolio</div>
        <div class="card mb-4" style="width:100%">
            <div class="card-header">
                <h2 class="card-title">LEGACY SOFTWARE</h2>
            </div>
            <div class="card-body row">
                <div class="col" style="display: flex; align-items: center; justify-content: center;">
                    <img src="./static/media/Llogo.jpg" class="card-img-top" alt="pic" style="width: 60%;">
                </div>
                <div class="col" style="display: flex; align-items: center; justify-content: center;">
                    <div>
                        <h5 class="card-text">
                            Legacy Software is a software house that was established in April 2022 by a group of
                            dedicated graduates. <br><br>
                            It is a partnership company founded by Tan Sri Dr. Wong Qi Shun as CEO, Ms. Leong Jing En as
                            CFO, Dr. Ho Kin Weng as CTO, and Dr. Amos Teo Hua An as CMO. Our company is located in the
                            area of Petaling Jaya, Selangor. <br>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">CEO</h5>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <a href="/portfolio/qs">
                            <img src="./static/media/QS.jpg" class="card-img-top" alt="img"
                                style="width: 200px; height: 250px;">
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Wong Qi Shun</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">CFO</h5>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <a href="/portfolio/je">
                            <img src="./static/media/JE.jpg" class="card-img-top" alt="img"
                                style="width: 200px; height: 250px;">
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Leong Jing En</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">CTO</h5>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <a href="/portfolio/kw">
                            <img src="./static/media/KW.jpg" class="card-img-top" alt="img"
                                style="width: 200px; height: 250px;">
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Ho Kin Weng</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">CMO</h5>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <a href="/portfolio/amos">
                            <img src="./static/media/Amos.jpg" class="card-img-top" alt="img"
                                style="width: 200px; height: 250px;">
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Amos Teo Hua An</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}