{% extends "layout.html" %}
{% block content %}
   <!-- End of page navibation -->
   <div class="my-student-table">
    <div class="my-student-table-header">
      <div class="my-student-table-header-item">
        <a id="name" class="filter__link" href="#">No</a>
      </div>
      <div class="my-student-table-header-item">
        <a id="wins" class="filter__link filter__link--number" href="#"
          >Student Name</a
        >
      </div>
      <div class="my-student-table-header-item">
        <a id="draws" class="filter__link filter__link--number" href="#"
          >Gender</a
        >
      </div>
      <div class="my-student-table-header-item">
        <a id="losses" class="filter__link filter__link--number" href="#"
          >Programme</a
        >
      </div>
      <div class="my-student-table-header-item">
        <a id="total" class="filter__link filter__link--number" href="#"
          >Contact</a
        >
      </div>
      <div class="my-student-table-header-item">
        <a id="total" class="filter__link filter__link--number" href="#"
          >Company Name</a
        >
      </div>
      <div class="my-student-table-header-item">
        <a id="total" class="filter__link filter__link--number" href="#"
          >Action</a
        >
      </div>
      <div class="my-student-table-header-item">
        <a id="total" class="filter__link filter__link--number" href="#"
          >Report</a
        >
      </div>
    </div>
    <div class="my-student-table-content">

      <a href="View"></a>
    </div>
  </div>
{% endblock %}
