{% extends "layout.html" %} {% block content %}
<!-- End of page navibation -->
<div class="d-flex flex-row justify-content-center align-items-center">
  <div class="col-8">
    <div class="fs-2 fw-bold text-center mb-2">Company Registration Form</div>
    <div class="text-center mb-4">
      Fill up the form to own an account to place internship offers
    </div>
    <form class="row g-3">
      <div class="col-6">
        <label for="inputName" class="form-label">Company Name</label>
        <input
          type="text"
          class="form-control border-3"
          id="inputName"
          required
        />
      </div>
      <div class="col-6">
        <label for="inputEmail" class="form-label"
          >Company Email
          <span class="small">(will be used for login)</span></label
        >
        <input
          type="text"
          class="form-control border-3"
          id="inputEmail"
          required
        />
      </div>
      <div class="col-6">
        <label for="inputPassword" class="form-label"
          >Password <span class="small">(will be used for login)</span></label
        >
        <input
          type="password"
          class="form-control border-3"
          id="inputPassword"
        />
      </div>
      <div class="col-6">
        <label for="inputConfirmPassword" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control border-3"
          id="inputConfirmPassword"
        />
      </div>
      <div class="col-12">
        <label for="inputPhoneNumber" class="form-label">Phone Number</label>
        <input
          type="text"
          class="form-control border-3"
          id="inputPhoneNumber"
        />
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <textarea
          class="form-control border-3"
          id="inputAddress"
          rows="3"
        ></textarea>
      </div>
      <div class="col-12">
        <label for="inputCity" class="form-label">Company Website URL</label>
        <input type="text" class="form-control border-3" id="inputCity" />
      </div>
      <div class="col-12">
        <label for="inputCity" class="form-label"
          >Company Social Media URL</label
        >
        <input type="text" class="form-control border-3" id="inputCity" />
      </div>
      <div class="col-6 mb-3">
        <label for="inputLogo" class="form-label">Company Logo</label>
        <input
          class="form-control border-3"
          type="file"
          id="inputLogo"
          accept=".jpg, .png, .jpeg, .pdf"
        />
      </div>
      <div class="col-6 mb-3">
        <label for="inputLicense" class="form-label"
          >Company Business License</label
        >
        <input
          class="form-control border-3"
          type="file"
          id="inputLicense"
          accept=".jpg, .png, .jpeg, .pdf"
        />
      </div>
      <div class="col-12 d-flex flex-row justify-content-end">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
  </div>
</div>
{%endblock %}
