{% extends "studentLayout.html" %} {% block title %} Report Submission {%
endblock %} {% block content %} {% for classwork in classworks %}
<div class="card" id="card_accordion" style="margin: 10px">
  {% for submitted in submissions if submitted['reportID'] ==
  classwork['reportID'] %}
  <div class="card-header text-bg-secondary justify-content-between" data-bs-toggle="collapse"
    data-bs-target="#classwork{{ classwork['reportName']}}" aria-expanded="false"
    aria-controls="classwork{{ classwork['reportName']}}" style="cursor: pointer">
    <div class="col-6">Report {{classwork['reportName']}}</div>
    <div class="col-6">Submitted</div>
  </div>
  <div class="card-body accordion-collapse collapse" id="classwork{{ classwork['reportName']}}">
    <form class="row g-2" action="/stud/unsubmit/{{classwork['reportID']}}" autocomplete="on" method="POST"
      enctype="multipart/form-data">
      <!-- Submitted Report -->
      <div class="d-flex flex-row">
        <label class="fw-bold">Submitted Date: {{submitted['handInDate']}}</label>
        <p class="ms-2"></p>
      </div>
      {% for file in files if submitted['reportID']|string + '_' +
      classwork['studName'] in file %}
      <label class="fw-bold">Report:
        <a href="/preview/{{ file }}" target="_blank" class="fw-normal">{{file}}</a>
        <a href="/download/{{ file }}" class="fw-normal ms-2"><img src="/static/media/download.jpg"
            style="width:1.5%"></a></label>
      {% endfor %}
      <fieldset disabled>
        <label class="fw-bold">Supervisor Remark: </label>
        <div class="form-check">
          <textarea class="form-control" row="5" name="remark" disabled>
            {{submitted['remark'] if submitted['remark'] != None else ' '}}</textarea>
        </div>
      </fieldset>
      <button type="submit" class="btn btn-primary">Unsubmit</button>
    </form>
    {% else %}
    <div class="card-header text-bg-secondary justify-content-between" data-bs-toggle="collapse"
      data-bs-target="#classwork{{ classwork['reportName']}}" aria-expanded="false"
      aria-controls="classwork{{ classwork['reportName']}}" style="cursor: pointer">
      <div class="col-6">Report {{classwork['reportName']}}</div>
      <div class="col-6">Due Date: {{classwork['dueDate']}}</div>
    </div>
    <form class="row g-2" action="/stud/submit/{{classwork['reportID']}}" autocomplete="on" method="POST"
      enctype="multipart/form-data">
      <div class="d-flex flex-row">
        <label class="fw-bold">Submitted Date:</label>
        <p class="ms-2"></p>
      </div>
      <fieldset disabled>
        <label class="fw-bold">Supervisor Remark: </label>
        <div class="form-check">
          <textarea class="form-control" row="5" name="remark" disabled></textarea>
        </div>
      </fieldset>

      <div class="col-6 mb-3">
        <label for="inputPdf" class="form-label">Add Work</label>
        <input class="form-control border-2" type="file" id="inputPdf" name="inputPdf" accept=".pdf"
          onchange="loadFile(event, 'pdfPreview')" />
        <embed id="pdfPreview" type="application/pdf" width="300" height="300" title="Title of my pdf"
          class="border border-3 mt-2" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endfor %}
  </div>
  </form>
</div>
<script>
  var loadFile = function (event, frame) {
    var output = document.getElementById(frame);
    output.src = URL.createObjectURL(event.target.files[0]) + "#page=1";
    output.onload = function () {
      URL.revokeObjectURL(output.src); // free memory
    };
  };
</script>
{% endfor %} {% endblock %}