{% extends "supervisorLayout.html" %} {% block title %} My ITP {% endblock %}
{% block content %}

<div class="d-flex flex-row justify-content-end">
  <input type="text" class="live-search-box form-control my-2 me-4 border border-black" placeholder="Search here..."
    style="width: 20%" />
</div>

<table class="table table-hover table-bordered" style="margin: 10px; width: 98%">
  <thead class="table-light">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Student Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Programme</th>
      <th scope="col">Contact</th>
      <th scope="col">Company Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="stud-list">
    {% for stud in students if students | length != 0 %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{stud["studName"]}}</td>
      <td>{{'Male' if stud["studGender"] == 'M' else 'Female' }}</td>
      <td>{{stud['studProgramme']}}</td>
      <td>{{stud["studPhone"]}}</td>
      {% set accepted_offers = "" %}
      {% for offer in offers if offer["studID"] == stud["studID"] and offer["appStatus"] == 'Accepted' %}
      {% set accepted_offers = offer["compName"] %}
      {% endfor %}
      {% if accepted_offers%}
      <td>{{ accepted_offers }}</td>
      {% else %}
      {% set test = "" %}
      {{ accepted_offers }}
      <td>No company</td>
      {% endif %}
      <td>
        <a href="{{url_for('view_report', studid=stud['studID'])}}" class="btn btn-secondary">More</a>
      </td>
    </tr>
    {% else %}
    <td colspan="8" class="text-center">No students found</td>
    {% endfor %}
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  jQuery(document).ready(function ($) {
    $(".stud-list tr").each(function () {
      $(this).attr("data-search-term", $(this).text().toLowerCase());
    });

    $(".live-search-box").on("keyup", function () {
      var searchTerm = $(this).val().toLowerCase();

      $(".stud-list tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(searchTerm) > -1);
      });
    });
  });
</script>
{% endblock %}