{% extends "supervisorLayout.html" %} {% block title %} Progress Report {% endblock
%} {% block content %}

<!-- loop the total submission needed -->
<button class="btn btn-primary">Submitted</button>
<button class="btn btn-secondary">Unsubmitted</button>

{% for classwork in classworks %}
<div class="card" style="margin: 10px">
  <div class="card-header text-bg-secondary">
    Report {{classwork['reportName']}} {{classwork['dueDate']}}
  </div>
  {% for report in reports if report['reportID'] == classwork['reportID'] %}
  <div class="card-body">
    <form
      class="row g-2"
      action="/update/report/{{report['submissionID']}}"
      autocomplete="on"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="d-flex flex-row">
        <label class="fw-bold">Status: </label>
        <div class="px-2">
          <input
            class="form-check-input"
            type="radio"
            name="reportStatus"
            value="Approve"
          />
          <label class="form-label"> Approve </label>
        </div>
        <div class="px-2">
          <input
            class="form-check-input"
            type="radio"
            name="reportStatus"
            value="Reject"
          />
          <label class="form-label"> Reject </label>
        </div>
        <div class="col d-flex flex-row justify-content-end">
          <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
      </div>
      {% for file in files if report['reportID']|string + '_' + report['studName'] in file%}
      <label class="fw-bold"
        >Report:
        <a href="/preview/{{ file }}" target="_blank" class="fw-normal"
          >{{file}}</a
        >
        <a href="/download/{{ file }}" class="fw-normal ms-2"
          >Downloaod</a
        ></label
      >
      {% endfor %}

      <div class="d-flex flex-row">
        <label class="fw-bold">Submitted Date:</label>
        <p class="ms-2">{{report['handInDate'].strftime('%Y-%m-%d')}}</p>
      </div>
      <label class="fw-bold">Supervisor Remark: </label>
      <div class="form-check">
        <textarea class="form-control" row="5" name="remark">
{{report['remark'] if report['remark'] != None else ' '}}</textarea
        >
        <div class="d-flex flex-row justify-content-between">
          <span class="small">[Maximum 500 characters] </span>
          <a href="">Clear</a>
        </div>
      </div>
    </form>
  </div>

  <!-- if havent submit -->
  {% else %}
  <div class="card-body">
    <div class="d-flex flex-row">
      <label class="fw-bold">Status: </label>
      <div class="px-2">
        <input class="form-check-input" type="radio" value="Approve" disabled />
        <label class="form-label"> Approve </label>
      </div>
      <div class="px-2">
        <input class="form-check-input" type="radio" value="Reject" disabled />
        <label class="form-label"> Reject </label>
      </div>
      <div class="col d-flex flex-row justify-content-end">
        <button type="submit" class="btn btn-primary btn-sm" disabled>
          Save
        </button>
      </div>
    </div>

    <label class="fw-bold">Report:</label>
    <div class="d-flex flex-row">
      <label class="fw-bold">Submitted Date:</label>
    </div>
    <label class="fw-bold">Supervisor Remark: </label>
    <div class="form-check">
      <textarea class="form-control" row="5"></textarea>
      <div class="d-flex flex-row justify-content-between">
        <span class="small">[Maximum 500 characters] </span>
        <a href="">Clear</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %} {% endblock %}
