{% extends "layout.html" %} {% block content %} {% for report in reports %} {%
for pdf in contents %}
<div class="card" style="margin: 10px">
  <div class="card-header">Feature</div>
  <div class="card-body">
    <form
      class="row g-2"
      action="/view/report/{{report[0]}}"
      autocomplete="on"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="d-flex flex-row">
        <label class="fw-bold">Status: </label>
        <div class="px-2">
          <input
            class="form-check-input"
            type="radio"
            name="reportStatus"
            id="reportApproveStatus"
          />
          <label class="form-label" for="reportApproveStatus"> Approve </label>
        </div>
        <div class="px-2">
          <input
            class="form-check-input"
            type="radio"
            name="reportStatus"
            id="reportRejectStatus"
          />
          <label class="form-label" for="reportRejectStatus"> Reject </label>
        </div>
        <div class="col d-flex flex-row justify-content-end">
          <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
      </div>

      <label class="fw-bold"
        >Report:
        <a href="/preview/{{ pdf }}" target="_blank" class="fw-normal"
          >{{pdf}}</a
        ></label
      >
      <div class="d-flex flex-row">
        <label class="fw-bold">Submitted Date:</label>
        <p class="ms-2">{{report[1]}}</p>
      </div>
      <label class="fw-bold">Supervisor Remark: </label>
      <div class="form-check">
        <textarea
          class="form-control"
          id="supervisorRemark{{ report }}"
          row="5"
          name="remark"
        ></textarea>
        <div class="d-flex flex-row justify-content-between">
          <span class="small">[Maximum 500 characters] </span>
          <a
            href=""
            onclick="clearInput('supervisorRemark{{ report }}');return false;"
            class="small text-decoration-none"
            >Clear Text</a
          >
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  function clearInput() {
    document.getElementById("supervisorRemark {{ report }}").reset();
  }
</script>
{% endfor %} {% endfor %} {% endblock %}
